# do daily/weekly/monthly maintenance
# min	hour	day	month	weekday	command
*/15	*	*	*	*	run-parts /etc/periodic/15min
0	*	*	*	*	run-parts /etc/periodic/hourly
0	2	*	*	*	run-parts /etc/periodic/daily
0	3	*	*	6	run-parts /etc/periodic/weekly
0	5	1	*	*	run-parts /etc/periodic/monthly
*   *   *   *   *   cd /www/nexusphp && php artisan schedule:run >> /tmp/schedule_DOMAIN.log
*   *   *   *   *   cd /www/nexusphp && php include/cleanup_cli.php >> /tmp/cleanup_cli_DOMAIN.log
